:root {
  --c_background: white;
  --c_text: black;
  --c_main: blue;
  --c_accent: red;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c_background: black;
    --c_text: white;
    --c_main: blue;
    --c_accent: red;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Catamaran, sans-serif;
}

#root {
  height: 100vh;
}

.app {
  height: 100%;
  overflow: hidden;
  > * {
    overflow-x: auto;
  }
  color: var(--c_text);
  background-color: var(--c_background);
  display: flex;
  flex-direction: column;
  > * {
    flex: 1 1 0;
  }
}

li {
  margin-left: 1em;
}

/* 
SYSTEM COLORS
AccentColor         Background of accented user interface controls
AccentColorText     Text of accented user interface controls
ActiveText          Text of active links
ButtonBorder        Base border color of controls
ButtonFace          Background color of controls
ButtonText          Text color of controls
Canvas              Background of application content or documents
CanvasText          Text color in application content or documents
Field               Background of input fields
FieldText           Text in input fields
GrayText            Text color for disabled items (e.g. a disabled control)
Highlight           Background of selected items
HighlightText       Text color of selected items
LinkText            Text of non-active, non-visited links
Mark                Background of text that has been specially marked (such as by the HTML mark element)
MarkText            Text that has been specially marked (such as by the HTML mark element)
SelectedItem        Background of selected items, for example, a selected checkbox
SelectedItemText    Text of selected items
VisitedText         Text of visited links
 */
